   /*Boxes*/
   .box {
     border: ridge;
     border-color: black;
   }

   .box.item1 {
     grid-area: DatedAssignment;
     height: 375px;
     width: 600px;
     /*width: 600px;*/
   }

   .box.item2 {
     grid-area: UndatedAssignment;
     height: 175px;
     width: 600px;
     /*width: 600px;*/
   }

   .box.item3 {
     grid-area: DueToday;
     height: 200px;
     width: 735px;
     /*width:700px;*/
   }

   .box.item4 {
     grid-area: Viewport;
     height: 350px;
     width: 735px;
   }

   .box.item5 {
     grid-area: Tab;
     height: 100px;
   }

   /*Grid*/
   .grid-container {
     display: grid;
     grid-template-areas:
       'Tab Tab Tab Tab Tab Tab'
       'DatedAssignment DatedAssignment  DueToday DueToday DueToday DueToday'
       'DatedAssignment DatedAssignment  Viewport Viewport Viewport Viewport'
       'DatedAssignment DatedAssignment  Viewport Viewport Viewport Viewport'
       'UndatedAssignment UndatedAssignment  Viewport Viewport Viewport Viewport';
     gap: 20px;
     background-color: #365563;
     margin: auto;
     width: 1400px;
     height: 750px;
     padding: 20px;
     border: ridge medium;
     border-color: black;
   }

   .grid-container>div {
     background-color: rgba(255, 255, 255, 0.8);
     text-align: center;
     padding: 20px;
     font-size: 30px;
   }

   #mySidenav a {
     position: absolute;
     /* Position them relative to the browser window */
     left: -120px;
     /* Position them outside of the screen */
     transition: 0.3s;
     /* Add transition on hover */
     padding: 15px;
     /* 15px padding */
     width: 170px;
     /* Set a specific width */
     text-decoration: none;
     /* Remove underline */
     font-size: 20px;
     /* Increase font size */
     color: white;
     /* White text color */
     border-radius: 0 5px 5px 0;
     /* Rounded corners on the top right and bottom right side */
   }

   #mySidenav a:hover {
     left: 0;
     /* On mouse-over, make the elements appear as they should */
   }

   /*Styling for tab buttons*/
   .tabButtons 
   {
      height: 50px;
      width: 10%;
      background-color: darkcyan;
      position: relative;
      bottom: -25px;
      gap: 5px;
      float: left;
      border: ridge 2px black;
      border-radius: 5px 5px 0 0;
   }
    /* Styling on hovering over tabs */
   .tabButtons:hover{
    height: 75px;
    bottom: 0px;
   }
   /* changes tab buttons on click
   /* .tabButtons:focus{
    height: 75px;
    bottom: 0px;
    font-size: 0px;
   }
   .tabButtons:active{
    height: 75px;
    bottom: 0px;
   }
   */ 

   /* The about link: 20px from the top with a green background */
   #RPG {
     top: 155px;
     height: 80px;
     background-color: #365563;
     border: ridge 2px;
     border-color: darkslateblue;
   }

   #profile {
     top: 255px;
     height: 80px;
     background-color: #365563;
     border: ridge 2px;
     border-color: darkslateblue;
     /* Blue */
   }

   .body {
     margin-top: 5%;
     background-color: darkcyan;
   }

   .createAssn {
     display: inline-block;
     padding: 15px 25px;
     font-size: 80%;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline: none;
     color: #fff;
     background-color: #4CAF50;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
     position: relative;
     top: 40%;
   }

   .createAssn:hover {
     background-color: #3e8e41
   }

   .createAssn:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
   }

   /*Accordion assignments/tasks*/
   #accordion {
     margin: 2px;
     overflow-y: scroll;
     height: 300px;
     max-height: 100%;
     background-color: white;
   }

   a:link {
     text-decoration: none;
     color: black;
   }

   a:hover {
     text-decoration: none;
     color: black;
   }

   a:active {
     text-decoration: none;
     color: black;
   }

   a:visited {
     text-decoration: none;
     color: black;
   }

   div .card-header:hover {
     background-color: lightgrey;
     transition: linear 0.5s;
   }

   /*Scroll bars*/
   /* width */
   ::-webkit-scrollbar {
     width: 20px;
   }

   /* Track */
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey;
     border-radius: 5px;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #686868;
     border-radius: 5px;
   }

   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #3B3B3B;
   }

   .body {
     margin-top: 8%;
     background-color: darkcyan;
   }

   .defaultBtn {
     width: 75%;
     float: left;
   }

   .defaultBtn.task {
     width: 80%;

   }

   /*Formating for assignment details box*/
   .details-assignment-name {
     font-size: 20px;
     text-align: left;
     display: flex;
     justify-content: space-between;
   }

   .details-title {
     font-size: 40px;
     text-align: left;
     display: flex;
     justify-content: flex-start;
   }

   .details-due-tasks {
     display: flex;
     justify-content: flex-start;
     font-size: 15px;
   }

   .details-due-date {
     font-size: 15px;
     text-align: left;
   }

   .details-desc {
     text-align: left;
     font-size: 15px;
   }

   .close-button {
     font-size: 15px;
     font-weight: bold;
     color: #000;
     text-align: right;
   }

   .assignment-name {
     font-size: 20px;
     text-align: left;
   }

   .due-tasks {
     display: flex;
     justify-content: flex-start;
     font-size: 15px;
   }

   .due-date {
     font-size: 15px;
   }

   .tasks-completed {
     font-size: 15px;
     margin-left: 10%
   }

   .check {
     top: auto;
     float: right;
     display: flex;
     justify-content: flex-start;
   }

   .assignment-points {
     font-size: 17px;
   }

   .checkBox {
     width: 50px;
     height: 50px;
     border: 5px;
     margin-left: 5%

   }